{% extends "core/base.html" %}
{% load crispy_forms_tags %}  
{% block content %}

<div class="col-md-10 offset-md-1 mt-2">
    <div class="container-lg" style="text-align: center;">
      <div class="row">
        <div class="col-sm-12" style="padding:30px;border: radius 30px;">
          <h4 class="text-center alert alert-danger">
            Create Document
          </h4>
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{form|crispy}}
              <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="next" value="{{request.META.HTTP_REFERER}}">
                <br/>
                <button class="btn btn-primary" type ="submit" name="action">Next</a></button>
                <a href=""><button type="button" class="btn btn-warning" >Cancel</button></a>
              </form>
          </form>
        </div>
        <div class="col"></div>
      </div>
      
    </div>
  </div>
{% endblock content %}