{% extends "core/base.html" %}  
{% block content %}

  <div class="col-md-12 offset mt-1">
    <div class = "container mb-1">
      <div class="card-body text-center">
        <h3 class="card-title m-b-0">Inventory  At  {{location}}</h3>
        <!-- {% if total_qty %}
        <h5 class="card-title m-b-0">Total: {{total_qty}} NOS</h5>
        {% else %}
        <h5 class="card-title m-b-0"></h5>
        {% endif %} -->
      </div>
      <div class="table-responsive">
      <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
          <thead style="position: sticky;top: 0" class="thead-light">
            <th>Godown</th>  
            <th>Item Code</th>
            <th>Quantity</th>
            <th>Brand</th>
          </thead>
      <tbody>
          {% for item in items %}
          <tr>
            <td>{{item.godown.godown_name}}</td>
            <td>{{item.item.item_code}}
            <td>{{item.qty}} NOS</td>
            <td>{{item.item.brand}}</td>
            
          </tr>
          {% endfor %}
      </tbody>
      </table>
      </div>
      <!-- <form class="form-control" method="GET" action="{% url 'create-document' %}">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="incoming" value="INC">
            <label class="form-check-label" for="incoming">
              Incoming
            </label>
          </div>
          <div class="form-check ml-3">
            <input class="form-check-input" type="radio" name="type" id="outgoing" value="OUT">
            <label class="form-check-label" for="outgoing">
              Outgoing
            </label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <button class="btn btn-primary btn-sm mt-3" type="submit">Create Document</button>
          </div>
        </div>
      </form> -->
    </div>
    
</div>
{% endblock content %}